<%- include('../partials/header') %>

<%- include('../partials/nav') %>
</nav>
<body>
    <div id="homeText">
        <h1>Welcome to your Game Library!</h1>
        <p>Collect, organize, and view everyone game you own!</p>
    </div>
<%- include('../partials/footer') %>